@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

/* MARK 我的Markdow设置 */
/* TODO 添加自定义MARKDOWN样式 */

text>p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.imgDesc>p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* .prose { */
/* color: aqua; */
/* } */

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

time {
  font-weight: 400;
}

span {
  font-weight: 400;
}

p {
  font-weight: 400;
}

@layer components {
  .prose {
    @apply text-base;

    p {
      @apply mb-4 mt-0 pb-0 pt-0 text-base;
      /* @apply text-base; */
    }

    h1 {
      @apply pb-2 pt-6 text-base;
    }

    h2 {
      @apply pb-1 pt-4 text-base;
    }

    h3 {
      @apply pb-1 pt-2 text-base;
    }

    h4 {
      @apply pt-2 text-base;
    }

    h5 {
      @apply pt-2 text-base;
    }

    h6 {
      @apply pt-1 text-base;
    }

    ol,
    ul,
    .contains-task-list {
      @apply mb-6 pl-10 -indent-1;
    }

    .task-list-item {
      @apply -ml-6 mb-1 mt-1 h-auto text-base;
    }

    li>input {
      @apply my-0 mr-0 rounded bg-transparent text-cyan-500;
    }

    /* li > input[type="checkbox"]:checked {
      @apply text-black
    } */
    /* marker:text-cyan-500 修改圆点颜色 */
    li {
      @apply my-1 text-base marker:text-cyan-500 !important;
    }

    li>p {
      @apply my-1 !important;
    }

    strong,
    em,
    del {
      @apply text-base;
    }

    a {
      @apply text-gray-600 underline underline-offset-2 dark:text-gray-400;
    }
  }

  .author.prose {
    p {
      @apply mb-0 mt-0 pb-10 text-base;
      /* @apply text-base; */
    }

    p:last-child {
      @apply mb-0 mt-0 pb-0 text-base;
      /* @apply text-base; */
    }
  }
}


/* https://juejin.cn/post/7514618352829448244 */
.liquid_glass-wrapper {
  --liquid_glass-border-radius: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;

  border: 1px solid #f4f4f6;
  background: linear-gradient(180deg, #ffffff10, #fafafa00);
  box-shadow: inset 0 2px 4px 0 #fff, inset 0 -4px 4px 0 hsla(0, 0%, 100%, .1), inset 0 -4px 16px 0 #fff, inset 0 4px 10px 0 hsla(240, 3%, 45%, .07), 0 4px 14px -10px rgba(53, 53, 79, .4), 0 11px 28px -10px rgba(53, 53, 79, .1);
  border-radius: var(--liquid_glass-border-radius);
}

.liquid_glass-border-radius {
  border-radius: var(--liquid_glass-border-radius);
}

.liquid_glass-outer {
  backdrop-filter: url(#liquid_glass_filter);
  position: absolute;
  inset: 0;
  z-index: 0;
  border-radius: var(--liquid_glass-border-radius);


  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><rect x="0" y="0" width="100%" height="100%" rx="0" ry="0" fill="white"/></svg>'),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><rect x="5" y="5" width="calc(100% - 10px)" height="calc(100% - 10px)" rx="21" ry="21" fill="white"/></svg>');
  mask-composite: exclude;
}

.liquid_glass-cover {
  backdrop-filter: blur(2px);
  position: absolute;
  inset: 0;
  z-index: 2;
  border-radius: var(--liquid_glass-border-radius);
  background: rgba(0, 0, 0, 0.02);
}

.liquid_glass-sharp {
  position: absolute;
  inset: 0;
  z-index: 3;

  box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.5), inset -1px -1px 0px 0px rgba(255, 255, 255, 0.6);
  border-radius: var(--liquid_glass-border-radius);
}

.liquid_glass-reflect {
  position: absolute;
  inset: 1px;
  z-index: 2;

  /* box-shadow: inset 2px 2px 6px 2px rgba(0, 0, 0, 0.02), inset -2px -2px 4px -1px rgba(255, 255, 255, 0.2); */
  /* box-shadow: inset 0 2px 4px 0 #fff, inset 0 -4px 4px 0 hsla(0, 0%, 100%, .5), inset 0 -4px 16px 0 #fff, inset 0 4px 10px 0 hsla(240, 3%, 45%, .07), 0 4px 14px -10px rgba(53, 53, 79, .4), 0 11px 28px -10px rgba(53, 53, 79, .1); */
  /* box-shadow: inset 0 2px 4px 0 #fff, inset 0 -4px 4px 0 hsla(0, 0%, 100%, .1), inset 0 -4px 16px 0 #fff, inset 0 4px 10px 0 hsla(240, 3%, 45%, .07), 0 4px 14px -10px rgba(53, 53, 79, .4), 0 11px 28px -10px rgba(53, 53, 79, .1); */
  border-radius: var(--liquid_glass-border-radius);
}

.icon {
  z-index: 4;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* dark模式 */
.dark {

  /* https://juejin.cn/post/7514618352829448244 */
  .liquid_glass-wrapper {
    --liquid_glass-border-radius: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;

    border: 1px solid #000000;
    background: linear-gradient(180deg, #ffffff10, #fafafa00);
    box-shadow: inset 0 2px 4px 0 #000, inset 0 -4px 4px 0 hsla(0, 0%, 0%, 0.1), inset 0 -4px 16px 0 #000, inset 0 4px 10px 0 hsla(0, 0%, 13%, 0.07), 0 4px 14px -10px rgba(112, 112, 167, 0.4), 0 11px 28px -10px rgba(53, 53, 79, .1);
    border-radius: var(--liquid_glass-border-radius);
  }

  .liquid_glass-border-radius {
    border-radius: var(--liquid_glass-border-radius);
  }

  .liquid_glass-outer {
    backdrop-filter: url(#liquid_glass_filter);
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: var(--liquid_glass-border-radius);


    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><rect x="0" y="0" width="100%" height="100%" rx="0" ry="0" fill="white"/></svg>'),
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><rect x="5" y="5" width="calc(100% - 10px)" height="calc(100% - 10px)" rx="21" ry="21" fill="white"/></svg>');
    mask-composite: exclude;
  }

  .liquid_glass-cover {
    backdrop-filter: blur(2px);
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: var(--liquid_glass-border-radius);
    background: rgba(0, 0, 0, 0.02);
  }

  .liquid_glass-sharp {
    position: absolute;
    inset: 0;
    z-index: 3;

    box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.5), inset -1px -1px 0px 0px rgba(255, 255, 255, 0.6);
    border-radius: var(--liquid_glass-border-radius);
  }

  .liquid_glass-reflect {
    position: absolute;
    inset: 1px;
    z-index: 2;

    /* box-shadow: inset 2px 2px 6px 2px rgba(0, 0, 0, 0.02), inset -2px -2px 4px -1px rgba(255, 255, 255, 0.2); */
    /* box-shadow: inset 0 2px 4px 0 #fff, inset 0 -4px 4px 0 hsla(0, 0%, 100%, .5), inset 0 -4px 16px 0 #fff, inset 0 4px 10px 0 hsla(240, 3%, 45%, .07), 0 4px 14px -10px rgba(53, 53, 79, .4), 0 11px 28px -10px rgba(53, 53, 79, .1); */
    /* box-shadow: inset 0 2px 4px 0 #fff, inset 0 -4px 4px 0 hsla(0, 0%, 100%, .1), inset 0 -4px 16px 0 #fff, inset 0 4px 10px 0 hsla(240, 3%, 45%, .07), 0 4px 14px -10px rgba(53, 53, 79, .4), 0 11px 28px -10px rgba(53, 53, 79, .1); */
    border-radius: var(--liquid_glass-border-radius);
  }

  .icon {
    z-index: 4;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}