.search {
  font-family: 'Quicksand', sans-serif;
  height: 24px;
  border: none !important;
  font-size: 18px;
  width: 100%;
  margin: 0 auto 0 auto;
  background-color: var(--searchBackground) !important;
  color: var(--searchText);
  padding-left: 20px;
  border-radius: 10px;
}
.search:focus {
  border: none !important;
}

.search::placeholder {
  color: var(--searchPlaceHolder);
}
 