/* .wrapper {
    width: 100%;
    margin: 20px auto;
    height: auto;
    color: var(--primaryText);
    display: inline-block;
    text-align: center;
  }
 */

.wrapper {
  /* background-color: aqua; */
  width: 100%;
  margin: 2px auto;
  height: auto;
  color: var(--primaryText);
  display: inline-block;
  /* text-align: center; */
}
