.wrapper {
  display: grid;
  place-items: center;
  min-height: 60px;
}

/* 这里是音量条 */
.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 1px;
  border-radius: 10px;
  background: var(--volumeSlider);
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  /* transition: opacity 0.2s; */
  transition: all 0.5s;
}
.slider:hover {
  height: 12px;
  /* transition: all 0.5s; */
  /* transform: scaleY(1.5); */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1px;
  height: 20px;
  border-radius: 50%;
  background: var(--volumeSlider);
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: var(--volumeSlider);
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--volumeSlider);
  cursor: pointer;
}

/* @media only screen and (max-width: 800px) {
  .wrapper {
    display: none;
  }
} */
